{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Education
{% endblock %}
{% block content %}
    <div class="main">
        <h1>Образование</h1>
        <ul>
            {% if schools %}
                {% for school in schools %}
                    <li>{{ school.period }} <a target="blank" href="{{school.url}}">{{ school.name }}</a> <br>
                        Специальность: {{ school.specialization }}
                    </li>
                {% endfor %}
            {% else %}
                Нет образования.
            {% endif %}
        </ul>
    </div>
{% endblock %}