{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    About me
{% endblock %}
{% block content %}
    <div class="main">
        <h1>Коротко обо мне</h1>
        <h2>{{first_name}} {{last_name}}</h2>
        <img src = "{% static 'img/avatar.png' %}" alt="Avatar">
        <p>Я родилась {{birth}}г. в г.{{place_of_birth}}.</p>
        <p>Мои хобби:<br>
            {% for hobbie in hobbies %}
                {{ hobbie }},
            {% endfor %} и др.
        </p>
        <p>Я долгое время работала QA и сейчас хочу сделать большой шаг в сторону автоматизированного тестирования.</p>
    </div>
{% endblock %}