{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <ul>
            <li> <a href="index.html">Главная</a></li>
            <li> <a href = "education.html">Учеба</a></li>
            <li> <b>Работа</b></li>
        </ul>
    </header> <hr />
    <h1>Опыт работы</h1>
    <div class="main">
       <ul>
           <li> 09.2008 - 04.2009 Администратор интернет кафе.<br>
               Основные обязанности: продажа и предоставление доступа в
               интернет для клиентов, помощь по всем вопросам.</li>
           <li> 06.2010 - 11.2010 Sunny bright. Тестироващик. <br>
                Тестирование системы документообота для сетей отелей на базе продуктов Rational IBM</li>
           <li>12.2010 - 11.2011 Старт-ап "Мультитоп", тестироващик.
                Тестирование веб-портала с мультимедийным контетом, системой патентования контента, голосования,
                биллинговой системой.</li>
           <li>11.2011 - 01.2012 Скайрос технологии. Инженер по тестированию.<br> Тестирование требований, систем видеонаблюдения
                и охранных систем, плат видео захвата, подготовка и сборка стендов, работа с hardware, постановка и анализ
                результатов нагрузочных тестовю</li>
           <li>02.2012 - 09.2016 Lesta. Руководитель группы тестирования конетнта и внутреннего инструментария. <br>Ораганизация процесса тестиования игровой функциональности
               (поставнока цели, контроль качества выполнения, отчетность), создание, ревью и поддежка тестовой документации,
               участие в планировании разработки. </li>
       </ul>
    </div>
    <footer>
        <hr /> Copyright &copy; 2016 Все права защищены <a href = "https://geekbrains.ru/users/290693" target = "_blank">nassy</a>
    </footer>
</body>
</html>