{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Work
{% endblock %}
{% block content %}
    <div class="main">
        <h1>Опыт работы</h1>
        <ul>
            {% if works %}
                {% for work in works %}
                    <li>{{ work.period }} <b>{{ work.organization }}</b> <br>
                        Должность: {{ work.position }} <br>
                        Основные обязанности: {{ work.responsibilities }}
                    </li>
                {% endfor %}
            {% else %}
                Нет опыта работы.
            {% endif %}
        </ul>
    </div>
{% endblock %}