{% load staticfiles %}
header{
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    background-color: #A69C80;
    height: 40px;
    border-radius: 10px;
}
header li {
    padding-right: 25px;
    color: grey;
    list-style-type: none;
    float: left;
}
header a:hover{
    color:darkblue;
}
header li a{
    color: black;
    text-decoration: none;
}
.main img {
    border-radius: 65px;
    float: right;
    height: 150px;

}
.main {

    margine: 50px 50px 50px 50px;
    padding: 0 150px 0 150px;

}
footer {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #A69C80;
    height: 50px;
    border-radius: 15px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    color: black;
    font-weight: bold;
    background-image:url(img/footer.jpg);
}
h1 {
    text-align: center;
    text-color: #031d42;
}
body {
    background-color: 	#dbd9b7;
}